setuptools==75.1.0
scanpy==1.11.5
pandas==2.3.3
numpy==1.26.4
anndata==0.11.4
scipy==1.15.2
matplotlib==3.9.1
seaborn==0.13.2
pyarrow==16.1.0
streamlit==1.36.0
networkx==3.3
plotly==5.24.1
scikit-learn==1.8.0
statsmodels==0.14.6
h5py==3.15.1
umap-learn==0.5.11
